

@font-face {
   font-family: roboto;
   src: url("fonts/Roboto-Light.ttf");
}

img[alt=""],
img:not([alt]) {
  border: 5px dashed #c00;
}

* {
   font-family: roboto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a .result {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

div {
  border-color: black;
  border-width: 0px;
  border-style: solid;
}

body {
  margin: 0;
  color: #ffffff;
  background: #222222;
  height: 100%;
}

img {
  max-height: 100%;
  width: auto;
}

h1 {
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

h2 {
  font-size: 120%;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}

h3 {
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}

li {
  margin-bottom: 15px;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

textarea {
  width: 60%;
  margin: auto;
  font-size: 100%;
  resize: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border-width: 0px;
}

textarea:focus {
  outline: 0;
}

.custom-select {
  margin: auto;
  width: 100%;
}

.custom-select select {
  color: #222222;
  width: 15%;
  height:50px;
  border: #C5C9BB;
  border-top-width: 1px;
  border-top-color: #C5C9BB;
  font-size: 100%;
  font-weight: bold;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline-block;
  padding-left: 8px;
}

.header-button {
  height: 50px;
  width: 10%;
  background: none;
  padding-top: 4px;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #D33459;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  float: left;
}

.header-button:hover {
  border: solid 4px;
  padding-top: 0px;
  color: white;
  background: #D33459;
  border-color: #D33459;
}

.header-button:focus {
  outline: 0;
}

.header-button-right {
  height: 50px;
  width: 10%;
  background: none;
  padding-top: 4px;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #D33459;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  margin-left: 10px;
  float: right;
}

.header-button-right:hover {
  border: solid 4px;
  padding-top: 0px;
  color: white;
  background: #D33459;
  border-color: #D33459;
}

.header-button-right:focus {
  outline: 0;
}

.break-line {
  width: 80%;
  height: 2px;
  border-radius: 4px;
  margin: auto;
  background: #D33459;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-break-line {
  width: 90%;
  height: 2px;
  border-radius: 4px;
  margin: auto;
  background: #C5C9BB;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-content-text {
  text-align: center;
  font-size: 120%;
}

.center-content-text img{
  border-width: 0px;
  border-radius: 8px;
  border-bottom-width: 4px;
  border-style: solid;
  border-color: #D33459;
}

.split-content-left {
  width: 40%;
  float: left;
  margin-left: 5%;
  font-size: 120%;
  text-align: left;
}

.split-content-right {
  margin-left: 55%;
  width: 40%;
  font-size: 120%;
  text-align: left;
}

.split-content-right img {
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
}

.split-content-left h1 {
  text-align: left;
}

.result {
  width: 50%;
  margin: auto;
  text-align: left;
  padding: 10px;
  background: #D33459;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #72182D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  margin-bottom: 20px;
}

.result:hover {
  text-decoration: none;
  background: #72182D;
}

.result img{
  width: 10%;
  float: right;
}

.result h3{
  text-align: left;
}

.review {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 10px;
  background: none;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #D33459;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.review h3{
  text-align: left;
}

.valign {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  position: relative;
  height: 100%;
  min-height:100%;
}

#header {
  height: 95px;
  background: #12355B;
  border-bottom-left-radius: 80px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
}

#header-contents {
  text-align: center;
  display: inline;
  padding: 0px;
  width: 50%;
}

#header-contents form{
  display: block;
  width: auto;
}

#splash {
  height: 700px;
  width: 100%;
  background: url("img/splash.jpg");
  background-position: center top;
  background-size: cover;
  border-bottom-left-radius: 120px;

}

#splash-contents {
  height: 600px;
  width: 60%;
  margin: auto;
  text-align: right;
}

#login-button {
  height: 50px;
  width: 100px;
  margin: 5px;
  background: none;
  padding-top: 4px;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #222222;
  color: #222222;
  cursor: pointer;
}

#login-button:hover {
  border: solid 4px;
  padding-top: 0px;
  color: white;
  background: #D33459;
  border-color: #D33459;
}

#login-button:focus {
  outline: 0;
}

#signup-button {
  height: 50px;
  width: 100px;
  margin: 5px;
  background: none;
  padding-top: 0px;
  border: solid 4px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #222222;
  color: #222222;
  cursor: pointer;
}

#signup-button:hover {
  color: white;
  border-color: #D33459;
  background: #D33459;
}

#signup-button:focus {
  outline: 0;
}

#splash-logo {
  height: 120px;
  width: auto;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

#search-container {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#home-search-box {
  color: #222222;
  background: #ffffff;
  width: 59%;
  height: 44px;
  border-style: solid;
  border-radius: 8px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 8px;
}

#home-select-left {
  color: #222222;
  background: #ffffff;
  width: 29.25%;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 8px;
  margin-left: 20%;
  float: left;
}

#home-select-right {
  color: #222222;
  background: #ffffff;
  width: 29.25%;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 8px;
  margin-right: 20%;
  float: right;
}

#myLocation {
  font-weight: bold;
  background: #D33459;
  width: 25%;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #D33459;
  font-size: 120%;
  cursor: pointer;
  color: #FFFFFF;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 8px;
 }

#myLocation:hover {
  background: #72182D;
  border-color: #72182D;
  color: #FFFFFF;
}

#myLocation:focus {
  outline: 0;
}

#search-box {
  color: #222222;
  background: #ffffff;
  width: 60%;
  height: 40px;
  border-style: solid;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
}

#search-box:focus {
  outline: 0;
}

#home-search-button {
  background: #D33459;
  width: 60%;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #D33459;
  font-size: 120%;
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: bold;
}

#home-search-button:hover {
  background: #72182D;
  border-color: #72182D;
  color: #FFFFFF;
}

#search-button {
  background: #D33459;
  width: 64px;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 4px;
  border-color: #D33459;
  font-size: 120%;
  cursor: pointer;
  color: #ffffff;
}

#search-button {
  background: #D33459;
  width: 64px;
  height: 50px;
  border-style: solid;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 4px;
  border-color: #D33459;
  font-size: 120%;
  cursor: pointer;
  color: #ffffff;
}

#search-button:hover {
  background: #72182D;
  border-color: #72182D;
}

#search-button:active {
  background: #72182D;
  border-color: #72182D;
}

#search-button:focus {
  outline: 0;
}

#content {
    color: #ffffff;
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#registration {
  margin: auto;
  text-align: center;
  width: 40%;
}

#registration h3{
  margin-bottom: 10px
}

#validation-errors {
  color: #D33459;
  font-weight: bold;
}

#registration input[type="submit"]{
  height: 50px;
  width: 200px;
  background: none;
  padding-top: 4px;
  border: solid 0px;
  border-width: 4px;

  border-radius: 8px;
  border-color: #D33459;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  margin-top: 10px;
}

#registration input[type="submit"]:hover {

  color: white;
  border-color: #D33459;
  background: #D33459;
}

#registration input[type="submit"]:focus {
  outline: 0;
}

#registration input[type="text"], #registration input[type="password"], #registration input[type="email"] {
  width: 95%;
  height: 38px;
  margin:auto;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 10px;
}

#registration input[type="number"] {
  width: 10%;
  height: 38px;
  margin:auto;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 10px;
}

#registration input[type="number"] {
  width: 10%;
  height: 38px;
  margin:auto;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 10px;
  margin-right: 8px;
}

#registration input[type="checkbox"] {
  height: 20px;
  width: 20px;
  background: #ffffff;
  margin: 10px;
}

#registration input[name="year"] {
  width: 15%;
  margin-right: 8px;
}

#registration input[name="firstName"]{
  margin-right: 8px;
  width: 45%;
}

#registration input[name="lastName"] {
  float: right;
  width: 45%;
}

#review-rating {
  width: 30%;
  font-size: 100%;
  border-width: 0px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 8px;
}

#review-submit {
  width: 30%;
  font-size: 100%;
  border-width: 0px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 8px;
  background-color: white;
}

#review-submit:focus {
  outline: 0;
}

#block-link {
  display: block;
}

#footer {
  width: 100%;
  bottom: 0;
  margin: auto;
  margin-top: 10%;
  background: #12355B;
  font-size: 80%;
  padding-top: 10px;
  border-top-right-radius: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#footer table td {
  width: 25%;
  padding: 0;
  margin: 0;
}

#footer table {
  width: 100%;
  padding: 0;
  margin: 4px;
}

#footer table h3 {
  vertical-align: center;
  padding: 12px;
  padding-right: 24px;
  padding-left: 4px;

}

#footer table img {
  height: 40px;
  width: 40px;
  display: inline;
  float: left;
}

#footer-left {
  width: 60%;
  float: left;
  margin-left: 5%;
  font-size: 120%;
  text-align: left;
}

#footer-right {
  margin-left: 75%;
  width: 20%;
  font-size: 120%;
  text-align: right;
}

#footer-center {
  padding: 2px;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 80%;
}

#map {
  margin: auto;
  height: 400px;
  width: 600px;
  border: solid 0px;
  border-bottom-width: 4px;
  border-radius: 8px;
  border-color: #D33459;
}
