@font-face {
   font-family: roboto;
   src: url("Roboto-Regular.ttf");
}

* {
   font-family: roboto;
   color: #e8e9eb;
}

div {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

body {
  margin: 0px;
  color: #e8e9eb;
  background: #2a2a2a
}

img {
  max-height: 100%;
  width: auto;
}

h1 {
  font-size: 150%;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 120%;
  text-align: center center;
  font-weight: bold;
}

#wrapper {
  margin: 0px;
}

#splash {
  height: 500px;
  width: 100%;

  background-image: url("splash.jpg");
  background-position: center top;
  background-size: cover;
}

#splash-contents {
  height: 400px;
  width: 60%;
  margin: auto;
}

#splash-contents img {
  height: 40%;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 80px;
}

#search-container {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#search-box {
  background: #e8e9eb;
  width: 60%;
  height: 32px;
  margin: auto;
  border-style: solid;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 4px;
  border-color: #e8e9eb;
  font-size: 100%;
  padding-left: 8px;
}

#search-button {
  background: #2370BC;
  width: 8%;
  height: 42px;
  margin: auto;
  border-style: solid;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 4px;
  border-color: #2370BC;
  font-size: 100%;
  cursor: pointer;
  color: #e8e9eb;
}

#search-button:hover {
  background: #3380CC;
  border-color: #3380CC;
}

#search-button:active {
  background: #4390DC;
  border-color: #4390DC;
}

#search-button:focus {
  outline: 0;
}

#login-button {
  height: 40px;
  width: 150px;
  margin: 10px;
  font-size: 80%;
  background: #2370BC;
  padding: 0;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: #2370BC;
}

#signup {
  height: 40px;
  width: 150px;
  margin: 10px;
  font-size: 80%;
  background: #2370BC;
  padding: 0;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: #2370BC;
}

#splash-gradient {
  height: 100px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), #2a2a2a)
}

#content {
    color: #e8e9eb;
    width: 60%;
    height: 1000px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.valign {
  display: inline-block;
  vertical-align: middle;
}
